<div class="jumbotron">
  <h1>Be Healthy</h1>
  <p>This application will help me track what I eat, so I can keep track of my health and not-so-healthy choices</p>
  <a href="/track" class="btn btn-success">Get Started</a>
</div>

